
.pan-title {
  cursor: pointer;
  font-weight: 600;
  vertical-align: middle;
}

.toolbar {
  margin-top: 10px;
}

.message {
  border: 1px solid #ddd;
  padding: 4px;
  margin-top: 10px;
}

.message-btn {
  margin-top: -2px;
}