<div *ngIf="entity.getMode() != 4">

  <!-- General data from -->
  <core-form [config]="genFormCfg" [entity]="entity"
    (fieldChanged)="onFormChange($event)">
  </core-form>

  <!-- Tabs -->
  <div *ngFor="let t of tabs">

    <!-- Tab header -->
    <div class="tab-header" (click)="t.closed = !t.closed">
      <img src="assets/common/arrow-right.png" class="arrow-img" *ngIf="t.closed">
      <img src="assets/common/arrow-down.png" class="arrow-img" *ngIf="!t.closed">
      <b>{{t.title}}</b>
    </div>

    <!-- Tab content -->
    <div [ngbCollapse]="t.closed">
      <core-form [config]="t.formCfg" [entity]="entity">
      </core-form>
    </div>

  </div>

</div>

<!-- Rename -->
<div *ngIf="entity.getMode() == 4">
  <core-form [config]="renFormCfg" [entity]="renObj"
    (fieldChanged)="onFormChange($event)">
  </core-form>
</div>

<!-- Message -->
<div class="message text-white rounded"
     [ngClass]="saveOk ? 'bg-success' : 'bg-danger'"
     *ngIf="message">
  <span>{{message | translate}}</span>

  <button class="close message-btn text-white" type="button" (click)="message = null">
    <span>&times;</span>
  </button>
</div>

<!-- Toolbar -->
<div class="toolbar text-right">
  <button type="button" class="btn btn-secondary btn-hilight ml-1"
    ngbTooltip="Evidenzia entità associate" (click)="hilightAssociate()">
  </button>

  <button type="button" class="btn btn-secondary btn-zoom ml-1"
    ngbTooltip="Zoom" (click)="zoomTo()">
  </button>

  <button type="button" class="btn btn-sm btn-primary ml-1" (click)="save()">
    Salva
  </button>
</div>
